<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <title>{{ 'maintenance_page.title'|trans({}, 'ws_cms_site') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>

<body>
<p>{{ 'maintenance_page.message'|trans({}, 'ws_cms_site') }}</p>
</body>
<!-- Build: {{ app_build }} -->
</html>
