<title>{{ title|striptags }}</title>
<meta name="title" content="{{ metatitle is defined and metatitle is not empty ? metatitle : title }}" />
<meta name="description" content="{{ description }}" />
<meta name="keywords" content="{{ keywords }}" />